@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
.textDomain {
  @apply outline-none border-b-2 border-[#0948B3] p-[7.5px] rounded-md text-sm;
}
.aa:hover:nth-child(1) span,
.aa:hover:nth-child(2) span,
.aa:hover:nth-child(3) span,
.aa:hover:nth-child(1) p,
.aa:hover:nth-child(2) p,
.aa:hover:nth-child(3) p {
  color: white;
}
.gradient{
  background: rgb(9,70,174);
  background: linear-gradient(117deg, rgba(9,70,174,1) 0%, rgba(6,65,171,1) 100%); 
}
.social-media-icons{
  @apply p-2 hover:rounded-full ease-in-out transition-all
}
